<div *ngIf="paginatedResult()?.items; else noVehicles">
    <div class="container mt-2">
      <!-- Contenedor para la tabla y la paginación con altura limitada -->
      <div class="table-container d-flex flex-column" style="max-height: 500px; overflow-y: auto;">
        <div class="table-responsive flex-grow-1">
          <table class="table table-bordered table-dark table-striped rounded shadow-sm">
            <thead>
              <tr>
                <th scope="col">ID</th>
                <th scope="col">Modelo</th>
                <th scope="col">Año</th>
                <th scope="col">Color</th>
                <th scope="col">Marca</th>
                <th scope="col">Fotos</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let vehicle of paginatedResult()?.items">
                <td>
                  <a *ngIf="vehicle?.id !== null && vehicle?.id !== undefined" 
                     (click)="navigateToVehicle(vehicle.id)">
                    {{ vehicle.id }}
                  </a>
                  <span *ngIf="vehicle?.id === null || vehicle?.id === undefined">ID no disponible</span>
                </td>
                <td>
                  <a *ngIf="vehicle?.id !== null && vehicle?.id !== undefined" 
                     (click)="navigateToVehicle(vehicle.id)">
                    {{ vehicle.model }}
                  </a>
                  <span *ngIf="vehicle?.id === null || vehicle?.id === undefined">Modelo no disponible</span>
                </td>
                <td>
                  <a *ngIf="vehicle?.id !== null && vehicle?.id !== undefined" 
                     (click)="navigateToVehicle(vehicle.id)">
                    {{ vehicle.year }}
                  </a>
                  <span *ngIf="vehicle?.id === null || vehicle?.id === undefined">Año no disponible</span>
                </td>
                <td>
                  <a *ngIf="vehicle?.id !== null && vehicle?.id !== undefined" 
                     (click)="navigateToVehicle(vehicle.id)">
                    {{ vehicle.color }}
                  </a>
                  <span *ngIf="vehicle?.id === null || vehicle?.id === undefined">Color no disponible</span>
                </td>
                <td>
                  <a *ngIf="vehicle?.id !== null && vehicle?.id !== undefined" 
                     (click)="navigateToVehicle(vehicle.id)">
                    {{ vehicle.brand ? vehicle.brand.name || vehicle.brand : 'No disponible' }}
                  </a>
                  <span *ngIf="vehicle?.id === null || vehicle?.id === undefined">Marca no disponible</span>
                </td>
                <td>
                  <div *ngIf="vehicle.photos.length > 0; else noPhotos">
                    <div class="d-flex justify-content-start flex-wrap">
                      <a *ngIf="vehicle?.id !== null && vehicle?.id !== undefined" 
                         (click)="navigateToVehicle(vehicle.id)">
                        <img [src]="vehicle.photos[0]!.url" 
                             alt="Foto principal del vehículo" 
                             class="img-fluid img-thumbnail me-2 mb-2" 
                             style="object-fit: cover; border-radius: 10px; max-width: 100px; max-height: 100px;">
                      </a>
                      <div *ngIf="vehicle.photos.length > 1" class="ms-3 align-self-center">
                        <a href="#" (click)="showMorePhotos = !showMorePhotos">
                          Ver más
                        </a>
                      </div>
                    </div>
                    <div *ngIf="showMorePhotos" class="d-flex justify-content-start flex-wrap mt-2">
                      <div *ngFor="let photo of vehicle.photos.slice(1)" class="me-2 mb-2">
                        <img [src]="photo.url" 
                             alt="Foto adicional del vehículo" 
                             class="img-fluid img-thumbnail" 
                             style="object-fit: cover; border-radius: 10px; max-width: 80px; max-height: 80px;">
                      </div>
                    </div>
                  </div>
                  <ng-template #noPhotos>
                    <span>No hay fotos disponibles</span>
                  </ng-template>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
    
        <!-- Paginación de la tabla -->
        <div class="d-flex justify-content-center align-items-center mt-2">
          <button class="btn btn-primary rounded-pill px-4 py-2" 
                  (click)="pageChanged({ page: paginatedResult()?.pagination!.currentPage - 1 })" 
                  [disabled]="paginatedResult()?.pagination?.currentPage === 1">
            Anterior
          </button>
      
          <span class="mx-3 text-black" style="font-size: 1.2rem; font-weight: bold;">
            Página {{ paginatedResult()?.pagination?.currentPage }} de {{ paginatedResult()?.pagination?.totalPages }}
          </span>
      
          <button class="btn btn-primary rounded-pill px-4 py-2" 
                  (click)="pageChanged({ page: paginatedResult()?.pagination!.currentPage + 1 })" 
                  [disabled]="paginatedResult()?.pagination?.currentPage === paginatedResult()?.pagination?.totalPages">
            Siguiente
          </button>
        </div>
      </div>
    </div>
  </div>
  
  <ng-template #noVehicles>
    <p class="text-center text-black">¡No se encontraron vehículos!</p>
  </ng-template>
  