<div class="container d-flex justify-content-center align-items-center vh-100">
  <div class="card p-4 shadow-lg" style="max-width: 800px; width: 100%">
    <div class="row">
      <!-- Imagen a la izquierda -->
      <div class="col-md-4 text-center">
        <img
          src="https://cdn-icons-png.flaticon.com/512/3301/3301565.png"
          alt="Imagen del vehículo"
          class="img-fluid rounded"
        />
      </div>

      <!-- Formulario a la derecha -->
      <div class="col-md-8">
        <form [formGroup]="form" (ngSubmit)="onSubmit()">
          <div class="form-group mb-3">
            <label for="brand" class="form-label">Marca</label>
            <select id="brand" formControlName="brand" class="form-select">
              <option disabled value="null">Seleccione una marca</option>
              <option *ngFor="let brand of brandOptions" [ngValue]="brand">
                {{ brand.name }}
              </option>
            </select>
          </div>

          <div class="form-group mb-3">
            <label for="model" class="form-label">Modelo</label>
            <input
              type="text"
              id="model"
              formControlName="model"
              placeholder="Ingrese el modelo"
              class="form-control"
            />
          </div>

          <div class="form-group mb-3">
            <label for="year" class="form-label">Año</label>
            <input
              type="number"
              id="year"
              formControlName="year"
              placeholder="Ingrese el año"
              class="form-control"
            />
          </div>

          <div class="form-group mb-3">
            <label for="color" class="form-label">Color</label>
            <input
              type="text"
              id="color"
              formControlName="color"
              placeholder="Ingrese el color"
              class="form-control"
            />
          </div>

          <!-- Foto URL (con validación) -->
          <div formArrayName="photos">
            <div
              *ngFor="let photo of form.controls.photos.controls; let i = index"
              [formGroupName]="i"
              class="form-group mb-3"
            >
              <label for="url-{{ i }}" class="form-label">Foto URL</label>
              <input
                type="text"
                id="url-{{ i }}"
                formControlName="url"
                placeholder="Ingrese la URL de la foto"
                class="form-control"
              />
              <div
                *ngIf="photo.get('url')?.invalid && photo.get('url')?.touched"
                class="text-danger"
              >
                La URL es requerida.
              </div>
              <button
                type="button"
                (click)="deletePhoto(i)"
                class="btn btn-danger mt-2"
              >
                Eliminar Foto
              </button>
            </div>
            <div
              *ngIf="form.get('photos')?.invalid && form.get('photos')?.touched"
              class="alert alert-warning"
              role="alert"
            >
              Debes agregar al menos una foto.
            </div>
          </div>

          <button
            type="button"
            (click)="addPhoto()"
            class="btn btn-primary mb-3"
          >
            Agregar Foto
          </button>

          <div class="form-group">
            <button
              type="button"
              (click)="onCancel()"
              class="btn btn-danger w-100"
            >
              Cancelar
            </button>
            <br /><br />
            <button
              type="submit"
              [disabled]="!form.valid"
              class="btn btn-success w-100"
            >
              Guardar Vehículo
            </button>
          </div>
        </form>
        <div *ngIf="showSuccessAlert" class="alert alert-success">
          Vehículo creado con éxito.
        </div>
      </div>
    </div>
  </div>
</div>
